<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ settings.title }}</title>
        <link>{{ base_url }}</link>
        <image>
            <url>{{ base_url }}{{ settings.image|media }}</url>
            <title>{{ settings.title }}</title>
            <link>{{ base_url }}</link>
        </image>
        <description>
            {{ settings.description }}
        </description>
        <language>{{ settings.language }}</language>
        <copyright>{{ settings.owner_name }}</copyright>
        <atom:link href="{{ base_url }}{{ this.page.url }}" rel="self" type="application/rss+xml" />
        <lastBuildDate>{{ "now"|date('r') }}</lastBuildDate>
        <itunes:author>{{ settings.owner_name }}</itunes:author>
        <itunes:summary>
            {{ settings.description }}
        </itunes:summary>
        <itunes:subtitle>{{ settings.sub_title }}</itunes:subtitle>
        <itunes:owner>
            <itunes:name>{{ settings.owner_name }}</itunes:name>
            <itunes:email>{{ settings.owner_email }}</itunes:email>
        </itunes:owner>
        <itunes:explicit>{{ settings.explicit }}</itunes:explicit>
        <itunes:keywords>
            {{ settings.keywords }}
        </itunes:keywords>
        <itunes:image href="{{ base_url }}{{ settings.image|media }}" />
        <itunes:category text="{{ settings.category }}" />
        <pubDate>{{ "now"|date('r') }}</pubDate>
        {% for item in podcasts %}
        <item>
            <title>{{ item.title }}</title>
            <link>
                {{ item.audio.getPath() }}
            </link>
            <pubDate>{{ item.published_at|date('r') }}</pubDate>
            <description>
                {{ item.description }}
            </description>
            <enclosure url="{{ item.audio.getPath() }}" length="{{ item.getSize() }}" type="{{ item.getType() }}" />
            <guid>
                {{ item.audio.getPath() }}
            </guid>
            <itunes:summary>
                The full length episode 2 description
            </itunes:summary>
            <itunes:image href="{{ base_url }}{{ item.image|media }}" />
            <itunes:keywords>
                {{ item.keywords }}
            </itunes:keywords>
            <itunes:explicit>{{ item.explicit }}</itunes:explicit>
        </item>
        {% endfor %}
    </channel>
</rss>