<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/podcasts/podcasts/create/') ?>"
        class="btn btn-primary oc-icon-plus"><?= e(trans('monologophobia.podcasts::lang.podcasts.new')); ?></a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('monologophobia.podcasts::lang.podcasts.delete_confirm')); ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete
    </button>

</div>
