<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('cms/podcasts') ?>"><?= e(trans('monologophobia.podcasts::lang.podcasts.name')); ?></a></li>
    <li><?= e(trans('monologophobia.podcasts::lang.podcasts.edit')); ?> <?= e(trans('monologophobia.podcasts::lang.podcasts.singular')); ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class'=>'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons" style="padding: 0 20px 20px 20px">
    <div class="loading-indicator-container">
        <button
            type="button"
            data-request="onSave"
            data-request-data="close:true"
            data-hotkey="ctrl+enter, cmd+enter"
            data-load-indicator="<?= e(trans('monologophobia.podcasts::lang.podcasts.saving')); ?>"
            class="btn btn-warning">
            <?= e(trans('monologophobia.podcasts::lang.podcasts.save')); ?>
        </button>
        <span class="btn-text">
            or <a href="<?= Backend::url('cms/podcasts') ?>"><?= e(trans('monologophobia.podcasts::lang.podcasts.cancel')); ?></a>
        </span>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>
<div class="control-breadcrumb">
    <?= Block::placeholder('breadcrumb') ?>
</div>
<div class="padded-container">
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('cms/podcasts') ?>" class="btn btn-default"><?= e(trans('monologophobia.podcasts::lang.podcasts.return')); ?></a></p>
</div>
<?php endif ?>